<%= form_tag(consumables_path, method: :get) do %>
  <%= text_field_tag :term %>
  <%= submit_tag t(".search") %>
<% end %>
<% @categories.each do |category| %>
<%= link_to category.category, category %>
<% end %>
<div class="container">
  <% if logged_in? %>
    <div>
      <%= link_to t(".add consumable"), new_consumable_path, class: "btn btn-primary", remote: true %>
    </div>
  <% end %>
  <div class="row" id="consumables_list">
    <%= render "consumables" %>
  </div>
</div>
<div id="consumable_modal"></div>
