<% @consumables.each do |consumable| %>
  <div class="col-3">
    <div class="card">
      <%# image_tag consumable.picture.preview(resize_to_limit: [100, 100]) %>
      <div class="card-body">
        <p class="card-text"><%= t(".name") %>:  <%= consumable.name %></p>
        <p class="card-text"><%= t(".price")%>: <%= consumable.price %></p>
        <p class="card-text"><%= t(".rating") %>: <span style="color: red"><%= consumable.rate_average %></span></p>
        <p class="card-text"><%= t(".out of stock") %></p>
        <small><%= link_to t(".edit"), edit_consumable_path(consumable), remote: true %></small>
        <small>
          <%= link_to t(".delete"), consumable,
                                method: :delete,
                                remote: true,
                                data: {confirm: "Are you sure?"}
          %>
        </small>
        <small><%= link_to t(".show"), consumable%></small>
      </div>
    </div>
  </div>
<% end %>
<%= will_paginate @consumables%>
