<div class="box-header"></div>
<body>
<%= form_tag(consumables_path, method: :get) do %>
  <%= text_field_tag :term %>
  <%= submit_tag t(".search") %>
<% end %>
<% @categories.each do |category| %>
<%= link_to category.category, category %>
<% end %>
<div class="container">
  <div class="row" id="consumables_list">
    <%= render "consumables/consumables" %>
  </div>
</div>
<div id="consumable_modal"></div>
</body>
</html>
